 <!--promotions-->
 <div class="container bg-default">

    <h2 class="title text-center">Latest Products</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://i.imgur.com/FoQPTHV.jpg"/>
                <div class="card-body">
                    <h4 class=" card-title">Legion</h4>
                    <p>Curabitur ornare dui quis nisl sodales posuere. Aliquam in sapien non risus sagittis dictum eu vel tellus. Morbi dignissim mi eu risus gravida egestas. Phasellus facilisis dolor nec nulla pretium gravida.</p>
                    <a class=" btn btn-primary">
                        See Now
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://i.pinimg.com/736x/07/04/be/0704be656e5cba718a4303e01eebb182.jpg"/>
                <div class="card-body">
                    <h4 class=" card-title">xbox</h4>
                    <p>Curabitur ornare dui quis nisl sodales posuere. Aliquam in sapien non risus sagittis dictum eu vel tellus. Morbi dignissim mi eu risus gravida egestas. Phasellus facilisis dolor nec nulla pretium gravida.</p>
                    <a class=" btn btn-primary">
                        See Now
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://wallpaperaccess.com/full/2068794.jpg"/>
                <div class=" card-body">
                    <h4 class="card-title">Headsets</h4>
                    <p>Curabitur ornare dui quis nisl sodales posuere. Aliquam in sapien non risus sagittis dictum eu vel tellus. Morbi dignissim mi eu risus gravida egestas. Phasellus facilisis dolor nec nulla pretium gravida.</p>
                    <a class=" btn btn-primary">
                        See Now
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="https://i.pinimg.com/originals/a6/e9/c4/a6e9c4a3846968087868f9816ac87980.jpg"/>
                <div class="card-body">
                    <h4 class="card-title">Valhala</h4>
                    <p>Curabitur ornare dui quis nisl sodales posuere. Aliquam in sapien non risus sagittis dictum eu vel tellus. Morbi dignissim mi eu risus gravida egestas. Phasellus facilisis dolor nec nulla pretium gravida.</p>
                    <a class=" btn btn-primary">
                        See Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
