<div class="wrapper">
    <div class="page-header" style="background-image: url('assets/img/1.jpg')">
        <div class="filter"></div>
        <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="">
        </div>
        <div class="content-center">
            <div class="title-brand">
                <div class="angular-logo">
                </div>
                <img src="assets/img/logo.png" alt="">
                <h3 style="font-size: 5em;
                                color: #ff1100;
                                margin: 0;
                                text-align: center;
                                line-height: 1.1;
                                font-weight: 100;
                                line-height: 1.1;
                                text-transform: uppercase;">
                    Online Gaming Shop
                </h3>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators" style="bottom: -50px;">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" style="height: 300px; z-index: 4;">
                    <div class="carousel-item active">
                        <div class="content-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 mx-auto text-center">
                                        <h1 class="title">
                                            Find all the latest games in one place <br>
                                            <button class="btn btn-danger btn-round mt-3" type="button"
                                                [routerLink]="['products/all']">
                                                Shop Now<i class=" fa fa-arrow-right"> </i>
                                            </button>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="content-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 mx-auto">
                                        <h1 class="title text-center">
                                            Find all the latest games in one place <br>
                                            <button class="btn btn-danger btn-round mt-3" type="button"
                                                [routerLink]="['products/all']">
                                                Shop Now<i class=" fa fa-arrow-right"> </i>
                                            </button>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="content-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 mx-auto">
                                        <h1 class="title text-center">
                                            Find all the latest games in one place  <br>
                                            <button class="btn btn-danger btn-round mt-3" type="button"
                                                [routerLink]="['products/all']">
                                                Shop Now<i class=" fa fa-arrow-right"> </i>
                                            </button>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <app-welcome></app-welcome>
    <app-promotions id="promotions"></app-promotions>
    <app-categories id="categories"></app-categories>
    <app-about id="about"></app-about>