<div class="wrapper">

    <div class="page-header section-dark" style="background-image: url('assets/img/1.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">

                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/logo.png" alt="">
                    </div>
                    <h3 style="font-size: 5em;
                                color: #ff1100;
                                margin: 0;
                                text-align: center;
                                    line-height: 1.1;
                                font-weight: 100;
                                line-height: 1.1;
                                text-transform: uppercase;">Online Gaming Shop</h3>

                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">
                    Find all the latest gaming products in one place
                    <br>

                    <button class=" btn btn-danger btn-round mt-3" type="button">
                        Shop Now<i class=" fa fa-arrow-right"> </i>
                    </button>
                </h2>


            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

        <div class="another section">
            <!--Here another section of home-->

        </div>

    </div>
    <!-- about -->
    <div class="about" id="about">
        <div class="container">
            <div class="welcome">
                <div class="agileits-title">
                    <h2>Welcome</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent
                        nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="about-w3lsrow">
                <div class="col-md-7 col-sm-7 w3about-img">
                    <div class="w3about-text">
                        <h5 class="w3l-subtitle">- About Us</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent
                            nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- about -->
    <div class="about" id="about">
        <div class="container">
            <div class="welcome">
                <div class="agileits-title">
                    <h2>Welcome</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent
                        nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="about-w3lsrow">
                <div class="col-md-7 col-sm-7 w3about-img">
                    <div class="w3about-text">
                        <h5 class="w3l-subtitle">- About Us</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent
                            nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- about -->
    <div class="about" id="about">
        <div class="container">
            <div class="welcome">
                <div class="agileits-title">
                    <h2>Welcome</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent
                        nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="about-w3lsrow">
                <div class="col-md-7 col-sm-7 w3about-img">
                    <div class="w3about-text">
                        <h5 class="w3l-subtitle">- About Us</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent
                            nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- about -->
    <div class="about" id="about">
        <div class="container">
            <div class="welcome">
                <div class="agileits-title">
                    <h2>Welcome</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent
                        nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="about-w3lsrow">
                <div class="col-md-7 col-sm-7 w3about-img">
                    <div class="w3about-text">
                        <h5 class="w3l-subtitle">- About Us</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent
                            nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //about -->