<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">

    <div class="container-fluid">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">Game Shop</a>
            <button aria-expanded="false"aria-label="Toggle navigation" class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler"  
                (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="navbar-collapse pb-5 pb-lg-0" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success btn-round" [routerLink]="['']">Home</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success btn-round" (click)="navigateTo('about')">About</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success btn-round" (click)="navigateTo('promotions')">Promotions</button>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <button class="btn btn-outline-success btn-round" id="dropdownBasic1"
                            ngbDropdownToggle>Categories</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a class="dropdown-item" [routerLink]="['/products/consoles']">Consoles</a>
                            <a class="dropdown-item" [routerLink]="['/products/games']">Games</a>
                            <a class="dropdown-item" [routerLink]="['/products/cards']">Cards</a>
                            <a class="dropdown-item" [routerLink]="['/products/accessories']">Accessories</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success btn-round"
                        ngbTooltip="click here to see all products" placement="bottom" type="button" [routerLink]="['products/all']">
                        <i class="fa fa-search"></i></button>
                </li>


            </ul>
            <ul class="navbar-nav ml-auto" *ngIf="removeLeftNav()">
                <li class="nav-item ">
                    <app-modal-component></app-modal-component>
                    <wishlist-modal-component></wishlist-modal-component>


                    <a [routerLink]="['login']" *ngIf="this.authService.isLoggedOut()">
                        <button class=" btn btn-info btn-just-icon">
                            <i class="fa fa-user"></i>
                            

                        </button>
                    </a>
                    <a [routerLink]="['']" *ngIf="this.authService.isLoggedIn()">
                        <button class=" btn btn-info btn-just-icon" (click)="this.authService.logout()">
                            <i class="fa fa-sign-out"> </i>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>