<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">

    <div class="container-fluid">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">Game Shop</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse pb-5 pb-lg-0" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success btn-round">Home</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success btn-round">About</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success btn-round">Promotions</button>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <button class="btn btn-outline-success btn-round" id="dropdownBasic1"
                            ngbDropdownToggle>Categories</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a class="dropdown-item" [routerLink]="['/products/category/consoles']">Consoles</a>
                            <a class="dropdown-item" [routerLink]="['/products/category/games']">Games</a>
                            <a class="dropdown-item" [routerLink]="['/products/category/cards']">Cards</a>
                            <a class="dropdown-item" [routerLink]="['/products/category/accessories']">Accessories</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-success btn-round"
                        ngbTooltip="click here to see all products" placement="bottom" type="button" [routerLink]="['products']">
                        <i class="fa fa-search"></i></button>
                </li>


            </ul>
            <ul class="navbar-nav ml-auto" *ngIf="removeLeftNav()">
                <li class="nav-item ">
                    <app-modal-component></app-modal-component>
                    <button class=" btn btn-danger btn-just-icon mr-2">
                        <i class=" fa fa-heart"> </i>
                    </button>

                    <a [routerLink]="['login']" *ngIf="this.authService.isLoggedOut()">
                        <button class=" btn btn-info btn-just-icon">
                            <i class="fa fa-user"> </i>
                        </button>
                    </a>
                    <a [routerLink]="['']" *ngIf="this.authService.isLoggedIn()">
                        <button class=" btn btn-info btn-just-icon" (click)="this.authService.logout()">
                            <i class="fa fa-sign-out"> </i>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>