 <!--categories-->
 <div class="container  bg-default mt-5 mb-5">

    <h2 class="title text-center">Categories</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card" data-backgroun="image" style="background-image:url('assets/img/categories.jpg') ;">
                <div class="card-body text-center text-white">
                    <h6 class="card-category">
                        Games
                    </h6>
                    <div class="card-icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <p class="card-description text-white">
                        Aliquam in sapien non risus sagittis dictum eu vel tellus. Morbi dignissim mi eu risus gravida egestas. Phasellus facilisis dolor nec nulla pretium gravida.
                    </p>
                    <div class="card-footer">
                        <a  [routerLink]="['/products/games']"><h6>show more</h6><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" data-backgroun="image" style="background-image:url('assets/img/categories.jpg') ;">
                <div class="card-body text-center text-white">
                    <h6 class="card-category">
                        Cards
                    </h6>
                    <div class="card-icon">
                        <i class="fa fa-gift"></i>
                    </div>
                    <p class="card-description text-white">
                        Aliquam in sapien non risus sagittis dictum eu vel tellus. Morbi dignissim mi eu risus gravida egestas. Phasellus facilisis dolor nec nulla pretium gravida.
                    </p>
                    <div class="card-footer">
                        <a [routerLink]="['/products/cards']"><h6>show more</h6><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" data-backgroun="image" style="background-image:url('assets/img/categories.jpg') ;">
                <div class="card-body text-center text-white">
                    <h6 class="card-category">
                        Consoles
                    </h6>
                    <div class="card-icon">
                        <i class="fa fa-play"></i>
                    </div>
                    <p class="card-description text-white">
                        Aliquam in sapien non risus sagittis dictum eu vel tellus. Morbi dignissim mi eu risus gravida egestas. Phasellus facilisis dolor nec nulla pretium gravida.
                    </p>
                    <div class="card-footer">
                        <a [routerLink]="['/products/consoles']"><h6>show more</h6><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" data-backgroun="image" style="background-image:url('assets/img/categories.jpg') ;">
                <div class="card-body text-center text-white">
                    <h6 class="card-category">
                        Accessories
                    </h6>
                    <div class="card-icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                    <p class="card-description">
                        Aliquam in sapien non risus sagittis dictum eu vel tellus. Morbi dignissim mi eu risus gravida egestas. Phasellus facilisis dolor nec nulla pretium gravida.
                    </p>
                    <div class="card-footer">
                        <a [routerLink]="['/products/accessories']"><h6>show more</h6><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>